.actionBox{data: {type: type, id: id, my_tweets: @my_tweets}}
  %span.showEmotions
    %i.like>      
    .emoji-reactions
      %span
        .reaction
          %i.react.like{data: {type:"like"}}
        .text
          %div Like
      %span
        .reaction
          %i.react.love{data: {type:"love"}}
        .text
          %div Love
      %span
        .reaction
          %i.react.haha{data: {type:"haha"}}
        .text
          %div Haha
      %span
        .reaction
          %i.react.sorry{data: {type:"sorry"}}
        .text
          %div Sorry
      %span
        .reaction
          %i.react.anger{data: {type:"anger"}}
        .text
          %div Angry
      %span
        .reaction
          %i.react.dislike{data: {type:"dislike"}}
        .text
          %div Dislike