.actionBox
  %span.showEmotions
    %a
      %i.like>
      Like
    .emoji-reactions
      %span
        .reaction
          %i.react.like
        .text
          %div Like
      %span
        .reaction
          %i.react.love
        .text
          %div Love
      %span
        .reaction
          %i.react.haha
        .text
          %div Haha
      %span
        .reaction
          %i.react.sorry
        .text
          %div Sorry
      %span
        .reaction
          %i.react.anger
        .text
          %div Angry
      %span
        .reaction
          %i.react.dislike
        .text
          %div Dislike