/ %style
/   .form-control:focus {
/   border-color: #FF0000;
/   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
/ }
%h3
  / Go live
  %div
    - if params[:video] != "true"
      %input{style: "width:100%", type:"text", id:"description", placeholder:"Description"}
    %div#video_wrapper
      %video{id:"video-preview", controls: "", loop:"", style: "width:80%; margin: 0 auto;display: block;"}
    %button#open-or-join{style: ("display: none" if params[:video] == "true")} Go Live

  %script
    console.log("before calling god function");
    god_function("#{@broadcast_id}");
    $("#open-or-join").click();
  / - if !params[:broadcast_id].blank?
  /   %script
  /     :plain
  /       console.log("clikcing button");
