%h3
  / Go live
  %div
    %input{style: "width:100%", type:"text", id:"description", placeholder:"Description"}
    %button#open-or-join1 Go Live
  %script
    :plain
      $(document).on("click", "#open-or-join1",function(){
        $.ajax({url: '/go_live_submit?description=' + $("#description").val() + '&chat=' + "#{@chat_id}", type: 'POST', success: function(){flock.close();}});
      });