/ %style
/   .form-control:focus {
/   border-color: #FF0000;
/   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
/ }
%h3
  LiveFeed
  %div
    = @live_streams
  %div#video_wrapper
    %video{id:"video-preview", controls: "", loop:"", style: "width: 100%"}
  %button#open-or-join{style: "display: none"} Go Live

  %script
    console.log("LiveFeed: before calling god function");
    god_function("#{@live_streams.keys.first}");
    $("#open-or-join").click();
  / %div
  /   <video width="100%" controls="" autoplay="" name="media"><source src="http://84db3151.ngrok.io/consume/second" type="video/webm"></video>
  / %div
  /   <video width="100%" controls="" autoplay="" name="media"><source src="http://84db3151.ngrok.io/consume/third" type="video/webm"></video>