/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

          .container {
        position: absolute;
        top: 220px;
        left: 50%;
        width: 500px;
        margin-top: -125px;
        margin-left: -250px;
        height: 250px;
      }

      footer {
        position: fixed;
        text-align: center;
        /* width: 100%; */
        display: inline;
        bottom: 10px;
        right: 0px;
      }

      footer a {
        padding-left: 10px;
        padding-right: 10px;
      }

      i {
        content: '';
        display: inline-block;
        height: 18px;
        /*margin: 0 6px -3px 0;*/
        width: 18px;
      }

      .like {
        background-image: url('/logo18.png');
        background-repeat: no-repeat;
        /*background-size: 500px 488px;*/
        /*background-position: -277px -446px*/
      }

      .actionBox {
        position: relative;
        background: #fff;
        /*padding: 10px;*/
        display: inline-block;
      }

      .actionBox span {
        color: #7f7f7f;
        display: inline-block;
        /*font-size: 12px;*/
        /*font-weight: bold;*/
        /*line-height: 14px;*/
        /*padding: 4px 0px 4px 0;*/
        cursor: pointer;
      }

      .clipDiv {
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
      }

      .emoji-reactions {
        left: -44px;
        position: absolute;
        top: -50px;
        z-index: 200;
        background: #fff;
        display: inline-block;
        font-size: 0;
        padding: 2px 10px;
        text-align: left;
        border-radius: 70px;
        white-space: nowrap;
        height: 49px;
        box-shadow: 0 8px 2px -6px rgba(0, 0, 0, 0.29);
        display: none;
      }

      .emoji-reactions span {
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-backface-visibility: hidden;
        cursor: pointer;
        display: inline-block;
        height: 48px;
        margin: 0;
        padding: 0;
        position: relative;
        transform: scale(1, 1) translateY(.0001px);
        transform-origin: 50% 100%;
        width: 48px;
      }

      .emoji-reactions span .reaction {
        transform: scale(.8, .8) translate(0, 0);
        transition: transform 200ms ease;
      }

      .reaction .react {
        display: block;
        height: 48px;
        image-rendering: crisp-edges;
        line-height: 1;
        width: 48px;
        background-image: url(https://i.imgsafe.org/c505d7a.png);
        background-size: 48px 384px;
      }
      .reaction_s .react_s {
        display: block;
        height: 15px;
        image-rendering: crisp-edges;
        line-height: 1;
        width: 15px;
        background-image: url(https://i.imgsafe.org/c505d7a.png);
        background-size: 15px 120px;
      }

      .react_s.like_s {
        background-position: 0 -165px;
      }

      .react.like {
        background-position: 0 -144px;
      }

      .react.love {
        background-position: 0 -192px;
      }
.react_s.love_s {
        background-position: 0 -60px;
      }

      .react.haha {
        background-position: 0 -96px;
      }
      .react_s.haha_s {
        background-position: 0 -150px;
      }

      .react.wow {
        background-position: 0 -288px;
      }

      .react_s.wow_s {
        background-position: 0 -90px;
      }

      .react.sorry {
        background-position: 0 -240px;
      }
.react_s.sorry_s {
        background-position: 0 -75px;
      }

      .react.anger {
        background-position: 0 0;
      }
      .react_s.anger_s {
        background-position: 0 -120px;
      }

      .react.dislike {
        background-position: 0 -48px;
      }
      .react_s.dislike_s {
        background-position: 0 -15px;
      }

      .emoji-reactions span .text {
        left: 50%;
        position: absolute;
        text-align: center;
        top: -28px;
        transform: translateX(-50%);
      }

      .emoji-reactions span .text div {
        background-color: rgba(0, 0, 0, .75);
        border-radius: 10px;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        max-width: 100%;
        opacity: 0;
        overflow: hidden;
        padding: 0 8px;
        text-decoration: none;
        text-overflow: ellipsis;
        transition: opacity 50ms ease;
      }

      .emoji-reactions span:hover .reaction {
        transform: scale(1, 1) translate(0, -6px);
      }

      .emoji-reactions span:hover .text div {
        opacity: 1;
      }

      .fb-post {
        width: 100%;
        background: #fff;
        height: 410px;
        background: url(https://i.imgsafe.org/aea1fb1.png) no-repeat;
        background-size: cover;
      }

      .instructions {
        font-size: 14px;
        position: relative;
        background: #000;
        color: #fff;
        display: inline-block;
        padding: 0px 15px;
        top: -9px;
      }


